.widget-container {
    font-family: sans-serif;
}

.widget {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    bottom: 9rem;
    cursor: pointer;
}
.widget img {
    width: 100%;
    height: 100%;
}

.tab-visible {
    display: flex !important;
    opacity: 1 !important;
    flex-direction: column;
}

.tab {
    position: absolute;
    background-color: black;
    color: white;
    display: none;
    opacity: 0;
}

.tab-header,
.tab-body,
.tab-input {
    width: 100%;
}

.tab-header {
    display: flex;
    height: 10%;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 5px 10px;
    align-items: center;
}
.tab-header img {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.tab-body {
    height: 85%;
    overflow-y: auto;
}

.tab-placeholder {
    height: 100%;
    flex-direction: column;
}

.tab-placeholder-notice {
    width: 100%;
    text-align: center;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.tab-placeholder-notice h1,
.tab-placeholder-notice p {
    margin: 0;
    margin-bottom: 0.3rem;
}
.tab-placeholder-notice h1 {
    font-size: 1rem;
}
.tab-placeholder-notice p {
    font-size: 0.75rem;
    width: 70%;
}

.tab-placeholder-topics {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tab-input {
    height: auto;
    background-color: #4d4d4f;
}

.tab-input-section {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.6rem 1rem 0.5rem;
}

.tab-textarea {
    background-color: #393939;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem;
    position: relative;
    min-height: 51px;
    margin-top: 5px;
}
.tab-textarea textarea {
    background-color: #393939;
    border: none;
    width: calc(100% - 51px);
    resize: none;
    color: white;
    margin-right: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    min-height: 2rem;
    padding: 6px 0;
    outline: none;
    max-height: 88px;
    overflow-y: auto;
}

.send-button {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 51px;
    width: 51px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
}

.tab-input-footer {
    display: flex;
    justify-content: center;
}
.tab-input-footer h1 {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 12px / var(--unnamed-line-spacing-24)
        Roboto;
    font: normal normal normal 12px/24px Roboto;
    opacity: 0.75;
    margin: 5px 0;
}
.tab-input-footer img {
    margin-left: 0.75rem;
}

.topic {
    border: 1px solid #707070;
    text-align: left;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 80% !important;
    border-radius: 15px;
    margin-bottom: 1rem;
}
.topic h1,
.topic p {
    margin: 0;
}
.topic h1 {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 16px/18px Roboto;
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal bold 16px/18px Roboto;
    margin-bottom: 7.5px;
}
.topic p {
    font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 12px/14px Roboto;
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal normal 12px/14px Roboto;
}

.message {
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
    border-bottom: 0.5px solid #595a5c;
    padding: 0.5rem 0 1rem;
}

.message-icon {
    width: 10%;
    text-align: center;
    padding: 0 0.5rem;
}

.message-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 0.5rem;
}

.actual-text {
    white-space: pre-line;
}

.actual-text,
.message-text p {
    margin: 0;
}

.feedback {
    width: 100%;
    margin-top: 1rem;
}

.feedback-button {
    display: flex;
    justify-content: flex-end;
}

.feedback-button img {
    cursor: pointer;
}

.feedback-button-dislike {
    margin-left: 1rem;
}

.feedback-button-like {
    padding-bottom: 9px;
}

.feedback-tab {
    flex-direction: column;
    background-color: #414343;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 10px;
}

.feedback-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.feedback-header img {
    cursor: pointer;
}

.feedback-options {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
}

.feedback-options-option {
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
}
.feedback-options-option:hover {
    background-color: #636466;
}

.feedback-options-option img {
    margin-right: 1rem;
}

.feedback-reason {
    margin-top: 1rem;
}

.feedback-worse-textarea {
    background-color: #1b1b1b;
    color: white;
    width: 100%;
    outline: none;
    border-radius: 0.5rem;
    border: 0;
    padding: 1rem;
    box-sizing: border-box;
    resize: none;
}

.feedback-worse-categories {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 0.25rem;
}

.feedback-worse-option {
    width: 100%;
    margin: 3px 0;
}
.feedback-worse-option input {
    margin-left: 1rem;
}
.feedback-worse-option label {
    margin-left: 1rem;
}

.feedback-worse-submit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.feedback-submit-button {
    cursor: pointer;
    background-color: #636466;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 8px;
}

@media screen and (max-width: 768px) {
    .tab {
        left: 0;
        width: 100vw;
        height: 100vh;
        top: 0;
    }
}

@media screen and (min-width: 768px) {
    .tab {
        width: 375px;
        height: 600px;
        bottom: 5%;
        right: 0;
    }
    .message-icon {
        padding-left: 0.75rem;
    }
    .message-text {
        padding: 0 0.75rem;
    }
    .feedback-options-option img {
        margin-right: 0.4rem;
    }
}
